WLED_RGB_FLOW2_ALEXA.txt
[{"id":"1a3346c5.374cd9","type":"tab","label":"WLED Alexa Effects","disabled":false,"info":""},{"id":"4924ef47.ac00d","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-1","inputtrigger":true,"x":400,"y":160,"wires":[["4571c2ed.35877c"]]},{"id":"17cf1c9d.0a0f73","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-2","inputtrigger":true,"x":400,"y":280,"wires":[["b51b2f6c.6e3b3"]]},{"id":"4d062828.8ee2e8","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-3","inputtrigger":true,"x":400,"y":400,"wires":[["b0dc1f7.c39b0e"]]},{"id":"115ee0a4.f7c95f","type":"mqtt out","z":"1a3346c5.374cd9","name":"","topic":"wled/holidaylights/api","qos":"0","retain":"","broker":"782e6297.9953bc","x":820,"y":640,"wires":[]},{"id":"4571c2ed.35877c","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=1","output":"str","x":550,"y":160,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"b51b2f6c.6e3b3","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=2","output":"str","x":550,"y":280,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"b0dc1f7.c39b0e","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=3","output":"str","x":550,"y":400,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"aa4e9229.05f8e","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=4","output":"str","x":550,"y":460,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"6e4cf39e.b1949c","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=5","output":"str","x":550,"y":520,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"140e65a1.04bdaa","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=6","output":"str","x":550,"y":580,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"84e7f7fd.c5d1c8","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=7","output":"str","x":550,"y":640,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"8e309c3e.245bc","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=8","output":"str","x":550,"y":700,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"fc10c5ed.9345f8","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=9","output":"str","x":550,"y":760,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"1a72ead1.8aa165","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=10","output":"str","x":550,"y":820,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"b84ba2bc.9bb1c","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=11","output":"str","x":550,"y":880,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"a76e4e0b.07405","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=12","output":"str","x":550,"y":940,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"328ac05c.2bbbe","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=13","output":"str","x":550,"y":1000,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"20ef436a.f6203c","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=14","output":"str","x":550,"y":1060,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"1e3b8419.9de09c","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=15","output":"str","x":550,"y":1120,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"72d22698.9b2ad8","type":"template","z":"1a3346c5.374cd9","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=16","output":"str","x":550,"y":1180,"wires":[["115ee0a4.f7c95f","1f24de5d.615a62"]]},{"id":"806dcec.079853","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-4","inputtrigger":true,"x":400,"y":460,"wires":[["aa4e9229.05f8e"]]},{"id":"7eabb231.14c33c","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-5","inputtrigger":true,"x":400,"y":520,"wires":[["6e4cf39e.b1949c"]]},{"id":"4c4cfacd.760df4","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-6","inputtrigger":true,"x":400,"y":580,"wires":[["140e65a1.04bdaa"]]},{"id":"cccb33fc.8bf99","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-7","inputtrigger":true,"x":400,"y":640,"wires":[["84e7f7fd.c5d1c8"]]},{"id":"9c1eb039.96544","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-8","inputtrigger":true,"x":400,"y":700,"wires":[["8e309c3e.245bc"]]},{"id":"605fe8ce.a63cc8","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-9","inputtrigger":true,"x":400,"y":760,"wires":[["fc10c5ed.9345f8"]]},{"id":"70e8697c.9134a8","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-10","inputtrigger":true,"x":400,"y":820,"wires":[["1a72ead1.8aa165"]]},{"id":"ab643977.fbfcc8","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-11","inputtrigger":true,"x":400,"y":880,"wires":[["b84ba2bc.9bb1c"]]},{"id":"5653fd1c.692df4","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-12","inputtrigger":true,"x":400,"y":940,"wires":[["a76e4e0b.07405"]]},{"id":"28c90dac.d4a582","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-13","inputtrigger":true,"x":400,"y":1000,"wires":[["328ac05c.2bbbe"]]},{"id":"67fce433.645a9c","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-14","inputtrigger":true,"x":400,"y":1060,"wires":[["20ef436a.f6203c"]]},{"id":"217889b.4275776","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-15","inputtrigger":true,"x":400,"y":1120,"wires":[["1e3b8419.9de09c"]]},{"id":"d4079564.058ed8","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Preset-16","inputtrigger":true,"x":400,"y":1180,"wires":[["72d22698.9b2ad8"]]},{"id":"1f24de5d.615a62","type":"debug","z":"1a3346c5.374cd9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":500,"wires":[]},{"id":"d1c6b40f.ec4488","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":160,"wires":[["4924ef47.ac00d"]]},{"id":"1efa3a33.cb5046","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":280,"wires":[["17cf1c9d.0a0f73"]]},{"id":"8979db40.8da478","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":400,"wires":[["4d062828.8ee2e8"]]},{"id":"73885fc8.a4625","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":460,"wires":[["806dcec.079853"]]},{"id":"4ad0f360.f7441c","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":520,"wires":[["7eabb231.14c33c"]]},{"id":"39a79402.c4a08c","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":580,"wires":[["4c4cfacd.760df4"]]},{"id":"9b8277d2.4ecf88","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":640,"wires":[["cccb33fc.8bf99"]]},{"id":"a1f8c808.18fcf8","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":700,"wires":[["9c1eb039.96544"]]},{"id":"474398fb.2b30d8","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":760,"wires":[["605fe8ce.a63cc8"]]},{"id":"eda27c16.451cc","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":820,"wires":[["70e8697c.9134a8"]]},{"id":"89317248.18565","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":880,"wires":[["ab643977.fbfcc8"]]},{"id":"361380a5.cb65b","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":940,"wires":[["5653fd1c.692df4"]]},{"id":"7b977d89.f00a64","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1000,"wires":[["28c90dac.d4a582"]]},{"id":"45106411.e46f5c","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1060,"wires":[["67fce433.645a9c"]]},{"id":"c10a57ff.599808","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1120,"wires":[["217889b.4275776"]]},{"id":"1151612b.84d08f","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1180,"wires":[["d4079564.058ed8"]]},{"id":"97f6974c.7c95a8","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"solid","inputtrigger":true,"x":390,"y":100,"wires":[["4571c2ed.35877c"]]},{"id":"fd5ff391.c5c44","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Hallowen Lights","inputtrigger":true,"x":420,"y":220,"wires":[["b51b2f6c.6e3b3"]]},{"id":"92b3cbaf.37b458","type":"alexa-local","z":"1a3346c5.374cd9","devicename":"Christmas Lights","inputtrigger":true,"x":430,"y":340,"wires":[["b0dc1f7.c39b0e"]]},{"id":"d32cfc1b.f67c3","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":340,"wires":[["92b3cbaf.37b458"]]},{"id":"f39691c1.93508","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":220,"wires":[["fd5ff391.c5c44"]]},{"id":"1a32e675.f704aa","type":"inject","z":"1a3346c5.374cd9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200.01734924316406,"y":101.01041412353516,"wires":[["97f6974c.7c95a8"]]},{"id":"782e6297.9953bc","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.110.10 ","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]