WLED_RGB_ALEXA_EFFECTS.txt
[{"id":"bf702d4a.3e365","type":"tab","label":"WLED Alexa Effects","disabled":false,"info":""},{"id":"9dc9f61b.9ad078","type":"mqtt out","z":"bf702d4a.3e365","name":"","topic":"wled/deck/api","qos":"0","retain":"","broker":"7572a9bd.a18bc8","x":940,"y":400,"wires":[]},{"id":"431e1d49.1bff74","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=1","output":"str","x":710,"y":80,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"ea56ce69.183db","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=2","output":"str","x":710,"y":120,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"25283519.9c3d0a","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=3","output":"str","x":710,"y":160,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"76f79373.9b27cc","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=4","output":"str","x":710,"y":200,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"14dfe68e.ebf239","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=5","output":"str","x":710,"y":240,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"ad9da59f.be2538","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=6","output":"str","x":710,"y":280,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"7f21458d.4792dc","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=7","output":"str","x":710,"y":320,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"d5050e0f.9e09a","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=8","output":"str","x":710,"y":360,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"22904b12.461b14","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=9","output":"str","x":710,"y":400,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"d8e8125f.2170f","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=10","output":"str","x":710,"y":440,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"d1b48e57.c79f9","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=11","output":"str","x":710,"y":480,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"85b46b1a.4c32a8","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=12","output":"str","x":710,"y":520,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"76270044.d9775","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=13","output":"str","x":710,"y":560,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"d0082c47.66756","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=14","output":"str","x":710,"y":600,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"1863837d.81952d","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=15","output":"str","x":710,"y":640,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"38adbbe2.543414","type":"template","z":"bf702d4a.3e365","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=16","output":"str","x":710,"y":680,"wires":[["9dc9f61b.9ad078","bec9c10.f923d4"]]},{"id":"bec9c10.f923d4","type":"debug","z":"bf702d4a.3e365","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":300,"wires":[]},{"id":"89739884.3a3b08","type":"amazon-echo-hub","z":"bf702d4a.3e365","port":"80","processinput":0,"x":170,"y":360,"wires":[["9b469ece.ab23a","cf0faae1.f916c8","8a36f82b.8b5fb8","cdcc9342.b9c6a","221dbf07.a89c5","3b606b4b.352e44","62c9b666.a540a8","cab73385.dc2b2","a8aab16d.00352","c646520b.85434","e0b14dd0.ee1c3","effdef83.c9928","b73c4571.2a8528","8f67dfc1.e1e0f","c29ca52a.6e1368","f41dfd73.d924a","8efa6fe9.14484","b81ad5bd.234078","22bbc0e5.09f5b"]]},{"id":"9b469ece.ab23a","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 1","topic":"","x":580,"y":80,"wires":[["431e1d49.1bff74"]]},{"id":"cf0faae1.f916c8","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 2","topic":"","x":580,"y":120,"wires":[["ea56ce69.183db"]]},{"id":"8a36f82b.8b5fb8","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 3","topic":"","x":580,"y":160,"wires":[["25283519.9c3d0a"]]},{"id":"cdcc9342.b9c6a","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 4","topic":"","x":580,"y":200,"wires":[["76f79373.9b27cc"]]},{"id":"221dbf07.a89c5","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 5","topic":"","x":580,"y":240,"wires":[["14dfe68e.ebf239"]]},{"id":"3b606b4b.352e44","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 6","topic":"","x":580,"y":280,"wires":[["ad9da59f.be2538"]]},{"id":"62c9b666.a540a8","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 7","topic":"","x":580,"y":320,"wires":[["7f21458d.4792dc"]]},{"id":"cab73385.dc2b2","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 8","topic":"","x":580,"y":360,"wires":[["d5050e0f.9e09a"]]},{"id":"a8aab16d.00352","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 9","topic":"","x":580,"y":400,"wires":[["22904b12.461b14"]]},{"id":"c646520b.85434","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 10","topic":"","x":580,"y":440,"wires":[["d8e8125f.2170f"]]},{"id":"e0b14dd0.ee1c3","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 11","topic":"","x":580,"y":480,"wires":[["d1b48e57.c79f9"]]},{"id":"effdef83.c9928","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 12","topic":"","x":580,"y":520,"wires":[["85b46b1a.4c32a8"]]},{"id":"b73c4571.2a8528","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 13","topic":"","x":580,"y":560,"wires":[["76270044.d9775"]]},{"id":"8f67dfc1.e1e0f","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 14","topic":"","x":580,"y":600,"wires":[["d0082c47.66756"]]},{"id":"c29ca52a.6e1368","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 15","topic":"","x":580,"y":640,"wires":[["1863837d.81952d"]]},{"id":"f41dfd73.d924a","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Preset 16","topic":"","x":580,"y":680,"wires":[["38adbbe2.543414"]]},{"id":"b81ad5bd.234078","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Solid Color","topic":"","x":370,"y":60,"wires":[["431e1d49.1bff74"]]},{"id":"8efa6fe9.14484","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Halloween lights","topic":"","x":360,"y":100,"wires":[["ea56ce69.183db"]]},{"id":"22bbc0e5.09f5b","type":"amazon-echo-device","z":"bf702d4a.3e365","name":"Christmas lights","topic":"","x":360,"y":140,"wires":[["25283519.9c3d0a"]]},{"id":"7572a9bd.a18bc8","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.110.10 ","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]

