WLED-to-yaml.flow
[{"id":"689c21c6.348e6","type":"tab","label":"WLED to yaml","disabled":false,"info":""},{"id":"ecbe7e3f.915c1","type":"mqtt in","z":"689c21c6.348e6","name":"","topic":"wled/deck/v","qos":"1","datatype":"auto","broker":"7572a9bd.a18bc8","x":110,"y":340,"wires":[["66cfa1a2.1763f"]]},{"id":"66cfa1a2.1763f","type":"xml","z":"689c21c6.348e6","name":"","property":"payload","attr":"","chr":"","x":150,"y":420,"wires":[["bd4486ee.1ae5f8","49e6ff42.b5714","635f1d58.655cb4","b1325e36.3a892","634c6683.752898","49c769ea.98f418","95e2051b.4e2ea8","bf6f6dd9.5a759","e6854581.36ef98","bb504cd4.fcf94","896c158b.61d0f8","a4561bf1.0a3358","15e6e956.1575a7","80eda8ad.590b58","76bdf943.30caa8","57feeb29.ef59a4","ee5dfd0f.72c78","c257b15d.daa65","d94350d.f9e3bb"]]},{"id":"e531c72a.b3e8f8","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Master_Brightness","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":750,"y":40,"wires":[]},{"id":"b1325e36.3a892","type":"change","z":"689c21c6.348e6","name":"Master_Brightness","rules":[{"t":"move","p":"payload.vs.ac[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":40,"wires":[["e531c72a.b3e8f8"]]},{"id":"929a0bbd.f44e18","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Primary_Color_RGB","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":760,"y":100,"wires":[]},{"id":"bd4486ee.1ae5f8","type":"function","z":"689c21c6.348e6","name":"Primary_Color_RGB","func":"\nvar RGB = msg.payload.vs.cl[0] + \", \" + msg.payload.vs.cl[1] + \", \" + msg.payload.vs.cl[2];\nmsg.payload = RGB;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["929a0bbd.f44e18"]]},{"id":"49e6ff42.b5714","type":"debug","z":"689c21c6.348e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":130,"y":520,"wires":[]},{"id":"f55da6e0.853da8","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Secondary_Color_RGB","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":770,"y":160,"wires":[]},{"id":"635f1d58.655cb4","type":"function","z":"689c21c6.348e6","name":"Secondary_Color_RGB","func":"\nvar RGB = msg.payload.vs.cs[0] + \", \" + msg.payload.vs.cs[1] + \", \" + msg.payload.vs.cs[2];\nmsg.payload = RGB;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["f55da6e0.853da8"]]},{"id":"2cf6b37d.0b3eec","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Notification_Sending_on","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":770,"y":220,"wires":[]},{"id":"634c6683.752898","type":"change","z":"689c21c6.348e6","name":"Notification_Sending_on","rules":[{"t":"move","p":"payload.vs.ns[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["2cf6b37d.0b3eec"]]},{"id":"76e39743.678a88","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Notification_Receive_on","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":770,"y":280,"wires":[]},{"id":"49c769ea.98f418","type":"change","z":"689c21c6.348e6","name":"Notification_Receive_on","rules":[{"t":"move","p":"payload.vs.nr[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":280,"wires":[["76e39743.678a88"]]},{"id":"464815eb.42ce1c","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Nightlight_active","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":740,"y":340,"wires":[]},{"id":"95e2051b.4e2ea8","type":"change","z":"689c21c6.348e6","name":"Nightlight_active","rules":[{"t":"move","p":"payload.vs.nl[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":340,"wires":[["464815eb.42ce1c"]]},{"id":"f99b02e1.0f3f","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Nightlight_Fade_on","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":750,"y":400,"wires":[]},{"id":"bf6f6dd9.5a759","type":"change","z":"689c21c6.348e6","name":"Nightlight_Fade_on","rules":[{"t":"move","p":"payload.vs.nf[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[["f99b02e1.0f3f"]]},{"id":"b6af1ec4.4cfd5","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Nightlight_delay","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":740,"y":460,"wires":[]},{"id":"e6854581.36ef98","type":"change","z":"689c21c6.348e6","name":"Nightlight_delay","rules":[{"t":"move","p":"payload.vs.nd[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":460,"wires":[["b6af1ec4.4cfd5"]]},{"id":"19cea16.4a5685f","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Nightlight_target_brightness","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":780,"y":520,"wires":[]},{"id":"bb504cd4.fcf94","type":"change","z":"689c21c6.348e6","name":"Nightlight_target_brightness","rules":[{"t":"move","p":"payload.vs.nt[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":520,"wires":[["19cea16.4a5685f"]]},{"id":"6de5d0fd.623af","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Effect_index","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":730,"y":580,"wires":[]},{"id":"896c158b.61d0f8","type":"change","z":"689c21c6.348e6","name":"Effect_index","rules":[{"t":"move","p":"payload.vs.fx[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":580,"wires":[["6de5d0fd.623af"]]},{"id":"3c3f6039.04108","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Effect_speed","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":730,"y":640,"wires":[]},{"id":"a4561bf1.0a3358","type":"change","z":"689c21c6.348e6","name":"Effect_speed","rules":[{"t":"move","p":"payload.vs.sx[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":640,"wires":[["3c3f6039.04108"]]},{"id":"17e421bd.2a666e","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Effect_intensity","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":740,"y":700,"wires":[]},{"id":"15e6e956.1575a7","type":"change","z":"689c21c6.348e6","name":"Effect_intensity","rules":[{"t":"move","p":"payload.vs.ix[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":700,"wires":[["17e421bd.2a666e"]]},{"id":"378c8e92.791ef2","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/FastLED_palette","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":750,"y":760,"wires":[]},{"id":"80eda8ad.590b58","type":"change","z":"689c21c6.348e6","name":"FastLED_palette","rules":[{"t":"move","p":"payload.vs.fp[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":760,"wires":[["378c8e92.791ef2"]]},{"id":"ef1b55d1.acf058","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Primary_White_value","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":760,"y":820,"wires":[]},{"id":"76bdf943.30caa8","type":"change","z":"689c21c6.348e6","name":"Primary_White_value","rules":[{"t":"move","p":"payload.vs.wv[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":820,"wires":[["ef1b55d1.acf058"]]},{"id":"478399e4.9fa198","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Secondary_White_value","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":770,"y":880,"wires":[]},{"id":"57feeb29.ef59a4","type":"change","z":"689c21c6.348e6","name":"Secondary_White_value","rules":[{"t":"move","p":"payload.vs.ws[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":880,"wires":[["478399e4.9fa198"]]},{"id":"7c971432.d4b90c","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/RGB_or_HSB_UI_mode","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":770,"y":940,"wires":[]},{"id":"ee5dfd0f.72c78","type":"change","z":"689c21c6.348e6","name":"RGB_or_HSB_UI_mode","rules":[{"t":"move","p":"payload.vs.md[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":940,"wires":[["7c971432.d4b90c"]]},{"id":"2b6834a.f749dcc","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Server_description","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":750,"y":1000,"wires":[]},{"id":"c257b15d.daa65","type":"change","z":"689c21c6.348e6","name":"Server_description","rules":[{"t":"move","p":"payload.vs.ds[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1000,"wires":[["2b6834a.f749dcc"]]},{"id":"82a4449b.05d568","type":"mqtt out","z":"689c21c6.348e6","name":"","topic":"LEDS/Toggle_Preset_cycle","qos":"1","retain":"","broker":"7572a9bd.a18bc8","x":760,"y":1060,"wires":[]},{"id":"d94350d.f9e3bb","type":"change","z":"689c21c6.348e6","name":"Toggle_Preset_cycle","rules":[{"t":"move","p":"payload.vs.cy[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1060,"wires":[["82a4449b.05d568"]]},{"id":"7572a9bd.a18bc8","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.110.10 ","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
