WLED_RGB_LIGHTS.txt
[{"id":"32da2654.f2817a","type":"server-state-changed","z":"92d0016.56bde","name":"effect","server":"1a677cba.86f933","version":1,"entityidfilter":"input_select.effect_list","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":100,"wires":[["eb9a1831.0f0628"]]},{"id":"3c8cbbd7.149244","type":"mqtt out","z":"92d0016.56bde","name":"","topic":"wled/all/api","qos":"0","retain":"","broker":"782e6297.9953bc","x":770,"y":140,"wires":[]},{"id":"a7f8609.47b9ca","type":"server-state-changed","z":"92d0016.56bde","name":"speed","server":"1a677cba.86f933","version":1,"entityidfilter":"input_number.ledspeed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":160,"wires":[["33edec0b.09a764"]]},{"id":"33edec0b.09a764","type":"template","z":"92d0016.56bde","name":"Speed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SX={{payload}}","output":"str","x":250,"y":160,"wires":[["3c8cbbd7.149244","7af034c0.fe480c"]]},{"id":"6fadecad.0f86e4","type":"server-state-changed","z":"92d0016.56bde","name":"intensity","server":"1a677cba.86f933","version":1,"entityidfilter":"input_number.ledintensity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":220,"wires":[["dfb64a4.68990b8"]]},{"id":"dfb64a4.68990b8","type":"template","z":"92d0016.56bde","name":"Intensity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IX={{payload}}","output":"str","x":260,"y":220,"wires":[["3c8cbbd7.149244","7af034c0.fe480c"]]},{"id":"74050c2d.336504","type":"server-state-changed","z":"92d0016.56bde","name":"brightness","server":"1a677cba.86f933","version":1,"entityidfilter":"input_select.ledpaletttelist","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":1060,"y":420,"wires":[["5d0ab88a.168f18"]]},{"id":"a83a51a3.dfd14","type":"template","z":"92d0016.56bde","name":"palette","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FP={{payload}}","output":"str","x":570,"y":40,"wires":[["8c731ad7.e2c0d8","3c8cbbd7.149244"]]},{"id":"a8a9105c.bca1a","type":"mqtt in","z":"92d0016.56bde","name":"","topic":"wled/all/v","qos":"2","datatype":"auto","broker":"782e6297.9953bc","x":860,"y":360,"wires":[["440c1c89.9f9114","a8d4c25e.0f98d"]]},{"id":"a8d4c25e.0f98d","type":"debug","z":"92d0016.56bde","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":360,"wires":[]},{"id":"440c1c89.9f9114","type":"xml","z":"92d0016.56bde","name":"","property":"payload","attr":"","chr":"","x":910,"y":420,"wires":[["5a6df96e.103588","39e2ba4f.ccbe56"]]},{"id":"5a6df96e.103588","type":"change","z":"92d0016.56bde","name":"Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vs.sx[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":480,"wires":[["63d11e01.5908b"]]},{"id":"39e2ba4f.ccbe56","type":"change","z":"92d0016.56bde","name":"Intensity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vs.ix[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":540,"wires":[["ffd6454b.cbc1b8"]]},{"id":"63d11e01.5908b","type":"api-call-service","z":"92d0016.56bde","name":"speed","server":"1a677cba.86f933","version":1,"service_domain":"input_number","service":"set_value","entityId":"input_number.ledspeed","data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":480,"wires":[["5d0ab88a.168f18"]]},{"id":"ffd6454b.cbc1b8","type":"api-call-service","z":"92d0016.56bde","name":"intensity","server":"1a677cba.86f933","version":1,"service_domain":"input_number","service":"set_value","entityId":"input_number.ledintensity","data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":540,"wires":[["5d0ab88a.168f18"]]},{"id":"e51ae0f2.56d02","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL={{payload}}","output":"str","x":250,"y":260,"wires":[["7af034c0.fe480c","3c8cbbd7.149244"]]},{"id":"7af034c0.fe480c","type":"debug","z":"92d0016.56bde","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":200,"wires":[]},{"id":"d886c28f.002be","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["e51ae0f2.56d02"]]},{"id":"e9f9aa97.3421f8","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["e51ae0f2.56d02"]]},{"id":"17cc764e.4e412a","type":"server-state-changed","z":"92d0016.56bde","name":"preset_1","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":260,"y":340,"wires":[["6dcd7258.20932c"]]},{"id":"51c61760.95a318","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":400,"wires":[["21aa943c.2233bc"]]},{"id":"6dcd7258.20932c","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=1","output":"str","x":590,"y":340,"wires":[["3c8cbbd7.149244"]]},{"id":"21aa943c.2233bc","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=2","output":"str","x":590,"y":400,"wires":[["3c8cbbd7.149244"]]},{"id":"704b9878.e864b8","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":460,"wires":[["e04af0c7.7c797"]]},{"id":"f3af4b44.a93088","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":520,"wires":[["f57b73cd.48079"]]},{"id":"e04af0c7.7c797","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=3","output":"str","x":590,"y":460,"wires":[["3c8cbbd7.149244"]]},{"id":"f57b73cd.48079","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=4","output":"str","x":590,"y":520,"wires":[["3c8cbbd7.149244"]]},{"id":"5c0ba203.d82bfc","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_5","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":580,"wires":[["a9f5b1b4.e07f7"]]},{"id":"2fbb10f2.c9daf","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_6","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":640,"wires":[["7cf037f6.00bb38"]]},{"id":"a9f5b1b4.e07f7","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=5","output":"str","x":590,"y":580,"wires":[["3c8cbbd7.149244"]]},{"id":"7cf037f6.00bb38","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=6","output":"str","x":590,"y":640,"wires":[["3c8cbbd7.149244"]]},{"id":"d78c3205.3c318","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_7","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":700,"wires":[["cb559cd9.5ea78"]]},{"id":"704d03b6.f25a8c","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_8","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":760,"wires":[["8c01e86e.a65388"]]},{"id":"cb559cd9.5ea78","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=7","output":"str","x":590,"y":700,"wires":[["3c8cbbd7.149244"]]},{"id":"8c01e86e.a65388","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=8","output":"str","x":590,"y":760,"wires":[["3c8cbbd7.149244"]]},{"id":"c54ee9e8.642c18","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_9","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":820,"wires":[["baaa010a.3d905"]]},{"id":"fb18ead9.10d0a8","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_10","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":360,"y":880,"wires":[["d46e2b2b.e551e8"]]},{"id":"baaa010a.3d905","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=9","output":"str","x":590,"y":820,"wires":[["3c8cbbd7.149244"]]},{"id":"d46e2b2b.e551e8","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=10","output":"str","x":590,"y":880,"wires":[["3c8cbbd7.149244"]]},{"id":"5c877865.2a42a8","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_11","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":360,"y":940,"wires":[["dbac7a07.ab0458"]]},{"id":"84e83618.7d5a28","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_12","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":360,"y":1000,"wires":[["fdc93745.1ce058"]]},{"id":"dbac7a07.ab0458","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=11","output":"str","x":590,"y":940,"wires":[["3c8cbbd7.149244"]]},{"id":"fdc93745.1ce058","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=12","output":"str","x":590,"y":1000,"wires":[["3c8cbbd7.149244"]]},{"id":"cc4ce7d4.872648","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_13","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":360,"y":1060,"wires":[["cf317185.57313"]]},{"id":"c1eea1e1.14e46","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_14","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":360,"y":1120,"wires":[["d8c02fac.6730f"]]},{"id":"cf317185.57313","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=13","output":"str","x":590,"y":1060,"wires":[["3c8cbbd7.149244"]]},{"id":"d8c02fac.6730f","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=14","output":"str","x":590,"y":1120,"wires":[["3c8cbbd7.149244"]]},{"id":"c162038.c2d58","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_15","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":360,"y":1180,"wires":[["835f5cf6.bb41d"]]},{"id":"f4565041.0c151","type":"server-state-changed","z":"92d0016.56bde","name":"","server":"1a677cba.86f933","version":1,"entityidfilter":"input_boolean.preset_16","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":360,"y":1240,"wires":[["c813fd7e.6d80d"]]},{"id":"835f5cf6.bb41d","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=15","output":"str","x":590,"y":1180,"wires":[["3c8cbbd7.149244"]]},{"id":"c813fd7e.6d80d","type":"template","z":"92d0016.56bde","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL=16","output":"str","x":590,"y":1240,"wires":[["3c8cbbd7.149244"]]},{"id":"fde7144d.40eab8","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["e51ae0f2.56d02"]]},{"id":"8f52492e.b21598","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["e51ae0f2.56d02"]]},{"id":"51a2e17b.db0d8","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":480,"wires":[["e51ae0f2.56d02"]]},{"id":"4b8b815d.0327a","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":520,"wires":[["e51ae0f2.56d02"]]},{"id":"6b9654e4.12dd2c","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"7","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["e51ae0f2.56d02"]]},{"id":"f40385a8.487c78","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":600,"wires":[["e51ae0f2.56d02"]]},{"id":"881e8f15.ec6f8","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"9","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["e51ae0f2.56d02"]]},{"id":"f36c33d1.2252a","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["e51ae0f2.56d02"]]},{"id":"ead50f23.6447b","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"11","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["e51ae0f2.56d02"]]},{"id":"eb1ac5e5.5cd118","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"12","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":760,"wires":[["e51ae0f2.56d02"]]},{"id":"fea5affe.d6261","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"13","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":800,"wires":[["e51ae0f2.56d02"]]},{"id":"ecb63bf2.25ffd8","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"14","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":840,"wires":[["e51ae0f2.56d02"]]},{"id":"80be2b25.daae08","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"15","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":880,"wires":[["e51ae0f2.56d02"]]},{"id":"40317259.3277dc","type":"inject","z":"92d0016.56bde","name":"","topic":"","payload":"16","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":920,"wires":[["e51ae0f2.56d02"]]},{"id":"8c731ad7.e2c0d8","type":"debug","z":"92d0016.56bde","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":790,"y":40,"wires":[]},{"id":"5d0ab88a.168f18","type":"debug","z":"92d0016.56bde","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":440,"wires":[]},{"id":"eb9a1831.0f0628","type":"function","z":"92d0016.56bde","name":"Parse EffectList","func":"var str = msg.payload;\nmsg.payload = str[0].split(\" \");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["c7fba375.858f"]]},{"id":"c35ad49d.5c2c68","type":"change","z":"92d0016.56bde","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Solid","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Blink","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Breathe","fromt":"str","to":"2","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Wipe","fromt":"str","to":"3","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Wipe Random","fromt":"str","to":"4","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Random Colors","fromt":"str","to":"5","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Sweep","fromt":"str","to":"6","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Dynamic","fromt":"str","to":"7","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Colorloop","fromt":"str","to":"8","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Rainbow","fromt":"str","to":"9","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Scan","fromt":"str","to":"10","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Dual Scan","fromt":"str","to":"11","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Fade","fromt":"str","to":"12","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Chase","fromt":"str","to":"13","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Chase Rainbow","fromt":"str","to":"14","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":640,"wires":[[]]},{"id":"c7fba375.858f","type":"template","z":"92d0016.56bde","name":"effect","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FX={{payload}}","output":"str","x":550,"y":100,"wires":[["8c731ad7.e2c0d8","3c8cbbd7.149244"]]},{"id":"7c625271.2fdc9c","type":"server-state-changed","z":"92d0016.56bde","name":"pallette","server":"1a677cba.86f933","version":1,"entityidfilter":"input_select.palette_list","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":40,"wires":[["b150fca3.02927"]]},{"id":"b150fca3.02927","type":"function","z":"92d0016.56bde","name":"Parse pallettelist","func":"var str = msg.payload;\nmsg.payload = str[0].split(\" \");\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":40,"wires":[["a83a51a3.dfd14"]]},{"id":"1a677cba.86f933","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"782e6297.9953bc","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.110.10 ","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
