WLED_Dashboard
[{"id":"3b8f753.8d0ea8a","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":1,"width":1,"height":1,"passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":870,"y":80,"wires":[["cceb8973.7131d8"]]},{"id":"dbd7c74b.6756f8","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":2,"width":1,"height":1,"passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"str","topic":"","x":870,"y":120,"wires":[["cceb8973.7131d8"]]},{"id":"e39c31bb.cd31b","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":3,"width":1,"height":1,"passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"str","topic":"","x":870,"y":160,"wires":[["cceb8973.7131d8"]]},{"id":"ee61e2d.10b2f2","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":4,"width":1,"height":1,"passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"str","topic":"","x":870,"y":200,"wires":[["cceb8973.7131d8"]]},{"id":"130f9eae.17dc61","type":"server-state-changed","z":"7dce9842.4d7258","name":"effect","server":"1a677cba.86f933","version":1,"entityidfilter":"input_select.effect_list","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":420,"wires":[["52e983a3.15934c"]]},{"id":"b4bf2794.054aa8","type":"mqtt out","z":"7dce9842.4d7258","name":"","topic":"wled/all/api","qos":"0","retain":"","broker":"782e6297.9953bc","x":450,"y":140,"wires":[]},{"id":"b5fe4e24.e74b8","type":"server-state-changed","z":"7dce9842.4d7258","name":"speed","server":"1a677cba.86f933","version":1,"entityidfilter":"input_number.ledspeed","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":120,"wires":[["23008e45.60ce62","17c24f33.0bc981"]]},{"id":"23008e45.60ce62","type":"template","z":"7dce9842.4d7258","name":"Speed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SX={{payload}}","output":"str","x":250,"y":120,"wires":[["b4bf2794.054aa8"]]},{"id":"c2829ca9.35acd","type":"server-state-changed","z":"7dce9842.4d7258","name":"intensity","server":"1a677cba.86f933","version":1,"entityidfilter":"input_number.ledintensity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":180,"wires":[["f8378633.7390c8","34bfa73.5630b58"]]},{"id":"f8378633.7390c8","type":"template","z":"7dce9842.4d7258","name":"Intensity","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"IX={{payload}}","output":"str","x":260,"y":180,"wires":[["b4bf2794.054aa8"]]},{"id":"8d433b70.5f35e8","type":"template","z":"7dce9842.4d7258","name":"palette","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FP={{payload}}","output":"str","x":410,"y":340,"wires":[["ad1668c2.203e78"]]},{"id":"cceb8973.7131d8","type":"template","z":"7dce9842.4d7258","name":"Preset","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PL={{payload}}","output":"str","x":1030,"y":300,"wires":[["2cbab8be.3c6198"]]},{"id":"52e983a3.15934c","type":"function","z":"7dce9842.4d7258","name":"Parse EffectList","func":"var str = msg.payload;\nmsg.payload = str[0].split(\" \");\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":420,"wires":[["730a1e7c.e1528"]]},{"id":"730a1e7c.e1528","type":"template","z":"7dce9842.4d7258","name":"effect","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FX={{payload}}","output":"str","x":410,"y":420,"wires":[["ad1668c2.203e78"]]},{"id":"242fd20c.748e9e","type":"server-state-changed","z":"7dce9842.4d7258","name":"pallette","server":"1a677cba.86f933","version":1,"entityidfilter":"input_select.palette_list","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":340,"wires":[["b3cdd7ca.1c9268"]]},{"id":"b3cdd7ca.1c9268","type":"function","z":"7dce9842.4d7258","name":"Parse pallette list","func":"var str = msg.payload;\nmsg.payload = str[0].split(\" \");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["8d433b70.5f35e8"]]},{"id":"a9e0a13e.d9c3","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":5,"width":1,"height":1,"passthru":false,"label":"5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":870,"y":240,"wires":[["cceb8973.7131d8"]]},{"id":"f426537f.87464","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":6,"width":1,"height":1,"passthru":false,"label":"6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"str","topic":"","x":870,"y":280,"wires":[["cceb8973.7131d8"]]},{"id":"193f968a.d95489","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":7,"width":1,"height":1,"passthru":false,"label":"7","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"","x":870,"y":320,"wires":[["cceb8973.7131d8"]]},{"id":"942ea2f2.d9f47","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":8,"width":1,"height":1,"passthru":false,"label":"8","tooltip":"","color":"","bgcolor":"","icon":"","payload":"8","payloadType":"str","topic":"","x":870,"y":360,"wires":[["cceb8973.7131d8"]]},{"id":"a132f604.44ea58","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":9,"width":1,"height":1,"passthru":false,"label":"9","tooltip":"","color":"","bgcolor":"","icon":"","payload":"9","payloadType":"str","topic":"","x":870,"y":400,"wires":[["cceb8973.7131d8"]]},{"id":"92ce7a82.551418","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":10,"width":1,"height":1,"passthru":false,"label":"10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"str","topic":"","x":870,"y":440,"wires":[["cceb8973.7131d8"]]},{"id":"d9e8b3d4.4e646","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":11,"width":1,"height":1,"passthru":false,"label":"11","tooltip":"","color":"","bgcolor":"","icon":"","payload":"11","payloadType":"str","topic":"","x":870,"y":480,"wires":[["cceb8973.7131d8"]]},{"id":"f63c117a.3fbf","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":12,"width":1,"height":1,"passthru":false,"label":"12","tooltip":"","color":"","bgcolor":"","icon":"","payload":"12","payloadType":"str","topic":"","x":870,"y":520,"wires":[["cceb8973.7131d8"]]},{"id":"3e817223.6d0d3e","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":13,"width":1,"height":1,"passthru":false,"label":"13","tooltip":"","color":"","bgcolor":"","icon":"","payload":"13","payloadType":"str","topic":"","x":870,"y":560,"wires":[["cceb8973.7131d8"]]},{"id":"313611f3.e4f7de","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":14,"width":1,"height":1,"passthru":false,"label":"14","tooltip":"","color":"","bgcolor":"","icon":"","payload":"14","payloadType":"str","topic":"","x":870,"y":600,"wires":[["cceb8973.7131d8"]]},{"id":"b07b60a.569c5a","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":15,"width":1,"height":1,"passthru":false,"label":"15","tooltip":"","color":"","bgcolor":"","icon":"","payload":"15","payloadType":"str","topic":"","x":870,"y":640,"wires":[["cceb8973.7131d8"]]},{"id":"bc3504b1.ac7128","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":16,"width":1,"height":1,"passthru":false,"label":"16","tooltip":"","color":"","bgcolor":"","icon":"","payload":"16","payloadType":"str","topic":"","x":870,"y":680,"wires":[["cceb8973.7131d8"]]},{"id":"17c24f33.0bc981","type":"ui_slider","z":"7dce9842.4d7258","name":"","label":"Speed","tooltip":"","group":"122c9bcd.823a34","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":250,"y":80,"wires":[["23008e45.60ce62"]]},{"id":"d29e755c.3d5698","type":"server-state-changed","z":"7dce9842.4d7258","name":"brightness","server":"1a677cba.86f933","version":1,"entityidfilter":"input_select.ledpaletttelist","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":300,"y":920,"wires":[["d055e531.f0a738"]]},{"id":"d9f4532a.e8b77","type":"mqtt in","z":"7dce9842.4d7258","name":"","topic":"wled/all/v","qos":"2","datatype":"auto","broker":"782e6297.9953bc","x":80,"y":1260,"wires":[["f3c442d.5383fc","923646c2.eb9d68"]]},{"id":"f3c442d.5383fc","type":"xml","z":"7dce9842.4d7258","name":"","property":"payload","attr":"","chr":"","x":310,"y":1260,"wires":[["c62fbe14.0f9cd","a2cf0ed8.16519","45ee7596.5556bc","e848a8bf.77a508","9e7c8874.395118","534f27a2.e35728","c09f960e.ad0178","dff440a6.e3d79","99bcfed7.20cce","ae7ac668.004d58","a1c22b66.a26278","7d045a6a.389bb4","4b850b44.584ee4","4a14594a.0b4328","9142dccf.a4b1d"]]},{"id":"c62fbe14.0f9cd","type":"change","z":"7dce9842.4d7258","name":"Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vs.sx[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1000,"wires":[["58c43278.f09d8c"]]},{"id":"a2cf0ed8.16519","type":"change","z":"7dce9842.4d7258","name":"Intensity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vs.ix[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1060,"wires":[["d5c3885f.bbd038"]]},{"id":"58c43278.f09d8c","type":"api-call-service","z":"7dce9842.4d7258","name":"speed","server":"1a677cba.86f933","version":1,"service_domain":"input_number","service":"set_value","entityId":"input_number.ledspeed","data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":1000,"wires":[[]]},{"id":"d5c3885f.bbd038","type":"api-call-service","z":"7dce9842.4d7258","name":"intensity","server":"1a677cba.86f933","version":1,"service_domain":"input_number","service":"set_value","entityId":"input_number.ledintensity","data":"{\"value\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":1060,"wires":[[]]},{"id":"34bfa73.5630b58","type":"ui_slider","z":"7dce9842.4d7258","name":"","label":"Intensity","tooltip":"","group":"122c9bcd.823a34","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":260,"y":220,"wires":[["f8378633.7390c8"]]},{"id":"d055e531.f0a738","type":"ui_slider","z":"7dce9842.4d7258","name":"","label":"brightness","tooltip":"","group":"122c9bcd.823a34","order":5,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":10,"step":1,"x":490,"y":920,"wires":[[]]},{"id":"8a877a87.fabb38","type":"ui_colour_picker","z":"7dce9842.4d7258","name":"","label":"Primary Color","group":"5e15b946.0311d8","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":160,"y":820,"wires":[["d39de38c.bc2a8"]]},{"id":"cb73b522.a15058","type":"ui_dropdown","z":"7dce9842.4d7258","name":"","label":"Effect","tooltip":"Choose the Color/Animation Effect","place":"Solid","group":"122c9bcd.823a34","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"Solid","value":0,"type":"num"},{"label":"Blink","value":1,"type":"num"},{"label":"Breathe","value":2,"type":"num"},{"label":"Wipe","value":3,"type":"num"},{"label":"Wipe Random","value":4,"type":"num"},{"label":"Random Colors","value":5,"type":"num"},{"label":"Sweep","value":6,"type":"num"},{"label":"Dynamic","value":7,"type":"num"},{"label":"Colorloop","value":8,"type":"num"},{"label":"Rainbow","value":9,"type":"num"},{"label":"Scan","value":10,"type":"num"},{"label":"Dual Scan","value":11,"type":"num"},{"label":"Fade","value":12,"type":"num"},{"label":"Chase","value":13,"type":"num"},{"label":"Chase Rainbow","value":14,"type":"num"},{"label":"Running","value":15,"type":"num"},{"label":"Saw","value":16,"type":"num"},{"label":"Twinkle","value":17,"type":"num"},{"label":"Dissolve","value":18,"type":"num"},{"label":"Dissolve Rnd","value":19,"type":"num"},{"label":"Sparkle","value":20,"type":"num"},{"label":"Dark Sparkle","value":21,"type":"num"},{"label":"Sparkle+","value":22,"type":"num"},{"label":"Strobe","value":23,"type":"num"},{"label":"Strobe Rainbow","value":24,"type":"num"},{"label":"Mega Strobe","value":25,"type":"num"},{"label":"Blink Rainbow","value":26,"type":"num"},{"label":"Android","value":27,"type":"num"},{"label":"Chase","value":28,"type":"num"},{"label":"Chase Random","value":29,"type":"num"},{"label":"Chase Rainbow","value":30,"type":"num"},{"label":"Chase Flash","value":31,"type":"num"},{"label":"Chase Flash Rnd","value":32,"type":"num"},{"label":"Rainbow Runner","value":33,"type":"num"},{"label":"Colorful","value":34,"type":"num"},{"label":"Traffic Light","value":35,"type":"num"},{"label":"Sweep Random","value":36,"type":"num"},{"label":"Running 2","value":37,"type":"num"},{"label":"Red & Blue","value":38,"type":"num"},{"label":"Stream","value":39,"type":"num"},{"label":"Scanner","value":40,"type":"num"},{"label":"Lighthouse","value":41,"type":"num"},{"label":"Fireworks","value":42,"type":"num"},{"label":"Rain","value":43,"type":"num"},{"label":"MerryChristmas","value":44,"type":"num"},{"label":"Fire Flicker","value":45,"type":"num"},{"label":"Gradient","value":46,"type":"num"},{"label":"Loading","value":47,"type":"num"},{"label":"In Out","value":48,"type":"num"},{"label":"In In","value":49,"type":"num"},{"label":"Out Out","value":50,"type":"num"},{"label":"Out In","value":51,"type":"num"},{"label":"Circus","value":52,"type":"num"},{"label":"Halloween","value":53,"type":"num"},{"label":"Tri Chase","value":54,"type":"num"},{"label":"Tri Wipe","value":55,"type":"num"},{"label":"TriFade","value":56,"type":"num"},{"label":"Lightning","value":57,"type":"num"},{"label":"ICU","value":58,"type":"num"},{"label":"Multi Comet","value":59,"type":"num"},{"label":"Dual Scanner","value":60,"type":"num"},{"label":"Stream 2","value":61,"type":"num"},{"label":"Oscillate","value":62,"type":"num"},{"label":"Pride 2015","value":63,"type":"num"},{"label":"Juggle","value":64,"type":"num"},{"label":"Palette","value":65,"type":"num"},{"label":"Fire 2012","value":66,"type":"num"},{"label":"Color waves","value":67,"type":"num"},{"label":"BPM","value":68,"type":"num"},{"label":"Fill Noise","value":69,"type":"num"},{"label":"Noise 1","value":70,"type":"num"},{"label":"Noise 2","value":71,"type":"num"},{"label":"Noise 3","value":72,"type":"num"},{"label":"Noise 4","value":73,"type":"num"},{"label":"Colortwinkle","value":74,"type":"num"},{"label":"Lake","value":75,"type":"num"},{"label":"Meteor","value":76,"type":"num"},{"label":"SmoothMeteor","value":77,"type":"num"},{"label":"Railway","value":78,"type":"num"},{"label":"Ripple","value":79,"type":"num"},{"label":" Twinklefox","value":80,"type":"num"}],"payload":"","topic":"","x":410,"y":460,"wires":[["730a1e7c.e1528"]]},{"id":"17e86f36.93e111","type":"ui_dropdown","z":"7dce9842.4d7258","name":"","label":"Pallette","tooltip":"Choose the Color Palette","place":"Default","group":"122c9bcd.823a34","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Default","value":0,"type":"num"},{"label":"Random Cycle","value":1,"type":"num"},{"label":"Primary color","value":2,"type":"num"},{"label":"Based on primary","value":3,"type":"num"},{"label":"Set colors","value":4,"type":"num"},{"label":"Based on set","value":5,"type":"num"},{"label":"Party","value":6,"type":"num"},{"label":"Cloud","value":7,"type":"num"},{"label":"Lava","value":8,"type":"num"},{"label":"Ocean","value":9,"type":"num"},{"label":"Forest","value":10,"type":"num"},{"label":"Rainbow","value":11,"type":"num"},{"label":"Rainbow bands","value":12,"type":"num"},{"label":"Sunset","value":13,"type":"num"},{"label":"Rivendell","value":14,"type":"num"},{"label":"Breeze","value":15,"type":"num"},{"label":"Red & Blue","value":16,"type":"num"},{"label":"Yellowout","value":17,"type":"num"},{"label":"Analoguous","value":18,"type":"num"},{"label":"Splash","value":19,"type":"num"},{"label":"Pastel","value":20,"type":"num"},{"label":"Sunset 2","value":21,"type":"num"},{"label":"Beech","value":22,"type":"num"},{"label":"Vintage","value":23,"type":"num"},{"label":"Departure","value":24,"type":"num"},{"label":"Landscape","value":25,"type":"num"},{"label":"Beach","value":26,"type":"num"},{"label":"Sherbet","value":27,"type":"num"},{"label":"Hult","value":28,"type":"num"},{"label":"Hult 64","value":29,"type":"num"},{"label":"Drywet","value":30,"type":"num"},{"label":"Jul","value":31,"type":"num"},{"label":"Grintage","value":32,"type":"num"},{"label":"Rewhi","value":33,"type":"num"},{"label":"Tertiary","value":34,"type":"num"},{"label":"Fire","value":35,"type":"num"},{"label":"Icefire","value":36,"type":"num"},{"label":"Cyane","value":37,"type":"num"},{"label":"Light Pink","value":38,"type":"num"},{"label":"Autumn","value":39,"type":"num"},{"label":"Magenta","value":40,"type":"num"},{"label":"Magred","value":41,"type":"num"},{"label":"Yelmag","value":42,"type":"num"},{"label":"Yelblu","value":43,"type":"num"},{"label":"Orange & Teal","value":44,"type":"num"},{"label":"Tiamat","value":45,"type":"num"},{"label":"April Night","value":46,"type":"num"}],"payload":"","topic":"","x":420,"y":380,"wires":[["8d433b70.5f35e8"]]},{"id":"bdbf9508.5476f8","type":"ui_colour_picker","z":"7dce9842.4d7258","name":"","label":"Secondary Color","group":"5e15b946.0311d8","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":false,"square":"false","dynOutput":"false","order":2,"width":0,"height":0,"passthru":true,"topic":"","x":150,"y":860,"wires":[["1c98a2d5.2ef52d"]]},{"id":"cb42b014.5ec92","type":"mqtt out","z":"7dce9842.4d7258","name":"","topic":"wled/all/api","qos":"1","retain":"false","broker":"782e6297.9953bc","x":550,"y":620,"wires":[]},{"id":"3d472e6e.f933e2","type":"inject","z":"7dce9842.4d7258","name":"POWER ON","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["3d2ef139.34ce2e"]]},{"id":"a97a360a.dad218","type":"inject","z":"7dce9842.4d7258","name":"POWER OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["3d2ef139.34ce2e"]]},{"id":"dd1934d.04ecdc8","type":"ui_button","z":"7dce9842.4d7258","name":"Power","group":"922f7754.6c0848","order":1,"width":"6","height":"1","passthru":false,"label":"Power not working","tooltip":"","color":"{{msg.color}}","bgcolor":"{{msg.background}}","icon":"","payload":"{\"data\":{\"entity_id\": \"light.wled_light\"},\"service\":\"toggle\"}","payloadType":"str","topic":"","x":610,"y":560,"wires":[["88285c6b.c90a9"]]},{"id":"3d2ef139.34ce2e","type":"change","z":"7dce9842.4d7258","name":"Change","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"win&T=0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"win&T=1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"win&T=2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":620,"wires":[["cb42b014.5ec92"]]},{"id":"c95d979a.a9d448","type":"inject","z":"7dce9842.4d7258","name":"POWER TOGGLE","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":640,"wires":[["3d2ef139.34ce2e"]]},{"id":"d39de38c.bc2a8","type":"function","z":"7dce9842.4d7258","name":"Primary","func":"var str = msg.payload;\nmsg.payload = \"win&CL=#\"+str\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":820,"wires":[["decab13d.2b854"]]},{"id":"1c98a2d5.2ef52d","type":"function","z":"7dce9842.4d7258","name":"secondary","func":"var str = msg.payload;\nmsg.payload = \"win&C2=#\"+str\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":860,"wires":[["decab13d.2b854"]]},{"id":"4c075601.ceb368","type":"comment","z":"7dce9842.4d7258","name":"Colors Primary and Secondary","info":"","x":150,"y":780,"wires":[]},{"id":"decab13d.2b854","type":"mqtt out","z":"7dce9842.4d7258","name":"","topic":"wled/all/api","qos":"1","retain":"false","broker":"782e6297.9953bc","x":530,"y":820,"wires":[]},{"id":"33e71150.eab61e","type":"comment","z":"7dce9842.4d7258","name":"Power Toggle","info":"","x":90,"y":520,"wires":[]},{"id":"eb16d917.cd4798","type":"comment","z":"7dce9842.4d7258","name":"Presets","info":"","x":870,"y":40,"wires":[]},{"id":"ad1668c2.203e78","type":"mqtt out","z":"7dce9842.4d7258","name":"","topic":"wled/all/api","qos":"0","retain":"","broker":"782e6297.9953bc","x":630,"y":360,"wires":[]},{"id":"2cbab8be.3c6198","type":"mqtt out","z":"7dce9842.4d7258","name":"","topic":"wled/all/api","qos":"0","retain":"","broker":"782e6297.9953bc","x":1070,"y":380,"wires":[]},{"id":"dc2f03df.25d2b","type":"comment","z":"7dce9842.4d7258","name":"Speed and Intensity","info":"","x":110,"y":40,"wires":[]},{"id":"badf6774.aa6598","type":"comment","z":"7dce9842.4d7258","name":"Palette and Effect Settings","info":"","x":130,"y":300,"wires":[]},{"id":"45ee7596.5556bc","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":11,"width":0,"height":0,"name":"","label":"Effect speed","format":"{{payload.vs.sx[0]}}","layout":"row-spread","x":510,"y":1500,"wires":[]},{"id":"e848a8bf.77a508","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":12,"width":0,"height":0,"name":"","label":"Effect intensity","format":"{{payload.vs.ix[0]}}","layout":"row-spread","x":520,"y":1540,"wires":[]},{"id":"9e7c8874.395118","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":1,"width":0,"height":0,"name":"","label":"Master Brightness","format":"{{payload.vs.ac[0]}}","layout":"row-spread","x":530,"y":1100,"wires":[]},{"id":"534f27a2.e35728","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":2,"width":0,"height":0,"name":"","label":"Primary Color RGB","format":"{{payload.vs.cl[0]}},{{payload.vs.cl[1]}},{{payload.vs.cl[2]}}","layout":"row-spread","x":530,"y":1140,"wires":[]},{"id":"c09f960e.ad0178","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":3,"width":0,"height":0,"name":"","label":"Secondary Color RGB","format":"{{payload.vs.cs[0]}},{{payload.vs.cs[1]}},{{payload.vs.cs[2]}}","layout":"row-spread","x":540,"y":1180,"wires":[]},{"id":"dff440a6.e3d79","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":4,"width":0,"height":0,"name":"","label":"Nightlight active","format":"{{payload.vs.nl[0]}}","layout":"row-spread","x":520,"y":1220,"wires":[]},{"id":"99bcfed7.20cce","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":5,"width":0,"height":0,"name":"","label":"Nightlight Fade on","format":"{{payload.vs.nf[0]}}","layout":"row-spread","x":530,"y":1260,"wires":[]},{"id":"ae7ac668.004d58","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":6,"width":0,"height":0,"name":"","label":"Nightlight delay","format":"{{payload.vs.nd[0]}}","layout":"row-spread","x":520,"y":1300,"wires":[]},{"id":"a1c22b66.a26278","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":9,"width":0,"height":0,"name":"","label":"Effect index","format":"{{payload.vs.fx[0]}}","layout":"row-spread","x":510,"y":1340,"wires":[]},{"id":"7d045a6a.389bb4","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":10,"width":0,"height":0,"name":"","label":"Palette Index","format":"{{payload.vs.fp[0]}}","layout":"row-spread","x":510,"y":1380,"wires":[]},{"id":"4b850b44.584ee4","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":13,"width":0,"height":0,"name":"","label":"Server description","format":"{{payload.vs.ds[0]}}","layout":"row-spread","x":530,"y":1580,"wires":[]},{"id":"ea352917.2bee18","type":"comment","z":"7dce9842.4d7258","name":"Info Screen","info":"","x":110,"y":1200,"wires":[]},{"id":"4a14594a.0b4328","type":"function","z":"7dce9842.4d7258","name":"","func":"var message = msg.payload\nvar effects = [\"Solid\", \"Blink\", \"Breathe\", \"Wipe\", \"Wipe Random\", \"Random Colors\", \"Sweep\", \"Dynamic\", \"Colorloop\", \"Rainbow\",\"Scan\", \"Dual Scan\", \"Fade\", \"Chase\", \"Chase Rainbow\", \"Running\", \"Saw\", \"Twinkle\", \"Dissolve\", \"Dissolve Rnd\",\"Sparkle\", \"Dark Sparkle\", \"Sparkle+\", \"Strobe\", \"Strobe Rainbow\", \"Mega Strobe\", \"Blink Rainbow\", \"Android\", \"Chase\", \"Chase Random\",\"Chase Rainbow\", \"Chase Flash\", \"Chase Flash Rnd\", \"Rainbow Runner\", \"Colorful\", \"Traffic Light\", \"Sweep Random\", \"Running 2\", \"Red & Blue\", \"Stream\",    \"Scanner\", \"Lighthouse\", \"Fireworks\", \"Rain\", \"Merry Christmas\", \"Fire Flicker\", \"Gradient\", \"Loading\", \"In Out\", \"In In\",    \"Out Out\", \"Out In\", \"Circus\", \"Halloween\", \"Tri Chase\", \"Tri Wipe\", \"Tri Fade\", \"Lightning\", \"ICU\", \"Multi Comet\",    \"Dual Scanner\", \"Stream 2\", \"Oscillate\", \"Pride 2015\", \"Juggle\", \"Palette\", \"Fire 2012\", \"Colorwaves\", \"BPM\", \"Fill Noise\", \"Noise 1\",    \"Noise 2\", \"Noise 3\", \"Noise 4\", \"Colortwinkle\", \"Lake\", \"Meteor\", \"Smooth Meteor\", \"Railway\", \"Ripple\"]\nmsg.payload = effects[message.vs.fx[0]]\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1380,"wires":[["c9c36eed.76db1"]]},{"id":"c9c36eed.76db1","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":7,"width":0,"height":0,"name":"","label":"Effect Name","format":"{{payload}}","layout":"row-spread","x":510,"y":1420,"wires":[]},{"id":"9142dccf.a4b1d","type":"function","z":"7dce9842.4d7258","name":"","func":"var message = msg.payload\nvar palette=[\"Default\", \"Random Cycle\", \"Primary Color\", \"Based on Primary\", \"Set Colors\", \"Based on Set\", \"Party\", \"Cloud\", \"Lava\", \"Ocean\",\"Forest\", \"Rainbow\", \"Rainbow Bands\", \"Sunset\", \"Rivendell\", \"Breeze\", \"Red & Blue\", \"Yellowout\", \"Analogous\", \"Splash\",\"Pastel\", \"Sunset 2\", \"Beech\", \"Vintage\", \"Departure\", \"Landscape\", \"Beach\", \"Sherbet\", \"Hult\", \"Hult 64\",\"Drywet\", \"Jul\", \"Grintage\", \"Rewhi\", \"Tertiary\", \"Fire\", \"Icefire\", \"Cyane\", \"Light Pink\", \"Autumn\",\"Magenta\", \"Magred\", \"Yelmag\", \"Yelblu\", \"Orange & Teal\", \"Tiamat\", \"April Night\"]\nmsg.payload = palette[message.vs.fp[0]]\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1420,"wires":[["42324095.24d7"]]},{"id":"42324095.24d7","type":"ui_text","z":"7dce9842.4d7258","group":"d756c609.ffea68","order":8,"width":0,"height":0,"name":"","label":"Palette Name","format":"{{payload}}","layout":"row-spread","x":520,"y":1460,"wires":[]},{"id":"923646c2.eb9d68","type":"debug","z":"7dce9842.4d7258","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":1340,"wires":[]},{"id":"53024ff3.76cee","type":"inject","z":"7dce9842.4d7258","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":450,"y":40,"wires":[["96f8306d.b09b8"]]},{"id":"96f8306d.b09b8","type":"function","z":"7dce9842.4d7258","name":"Variables","func":"var wledname = \"wled/holidaylights/api\"\nflow.set(\"wledname\", wledname);\n\n//Button ON Colors\nvar ON_foreground = \"black\";\nvar ON_Background = \"lime\";\n\n//Button OFF Colors\nvar OFF_foreground = \"white\";\nvar OFF_Background = \"grey\";\n//--------------------------------------------\nflow.set(\"ON_foreground\", ON_foreground);\nflow.set(\"OFF_foreground\", OFF_foreground);\nflow.set(\"ON_Background\", ON_Background);\nflow.set(\"OFF_Background\", OFF_Background);\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":620,"y":40,"wires":[[]]},{"id":"2217d030.a0bab","type":"poll-state","z":"7dce9842.4d7258","name":"wled_light","server":"1a677cba.86f933","version":1,"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"light.wled_light","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":300,"y":560,"wires":[["47b49882.28f708"]]},{"id":"47b49882.28f708","type":"function","z":"7dce9842.4d7258","name":"Set Button Color","func":"//Button Text\nvar entity = \"wled_light\";\n\nON_foreground =  flow.get(\"ON_foreground\");\nON_Background =  flow.get(\"ON_Background\");\nOFF_foreground = flow.get(\"OFF_foreground\");\nOFF_Background = flow.get(\"OFF_Background\");\n\nmsg.topic = (msg.payload === \"on\")?entity + \" On\":entity + \" Off\";\nmsg.color = (msg.payload === \"on\")?ON_foreground:OFF_foreground;\nmsg.background = (msg.payload === \"on\")?ON_Background:OFF_Background;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":560,"wires":[["dd1934d.04ecdc8"]]},{"id":"88285c6b.c90a9","type":"api-call-service","z":"7dce9842.4d7258","name":"Entity","server":"1a677cba.86f933","version":1,"service_domain":"homeassistant","service":"{ }","entityId":"{}","data":"{ }","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":730,"y":560,"wires":[[]]},{"id":"e6f118fe.038298","type":"ui_button","z":"7dce9842.4d7258","name":"","group":"d63fe5da.74adc8","order":17,"width":"3","height":"1","passthru":false,"label":"save preset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1130,"y":500,"wires":[["3a55d3bf.ad4a7c"]]},{"id":"ead877c1.41d958","type":"mqtt out","z":"7dce9842.4d7258","name":"","topic":"wled/all/api","qos":"1","retain":"false","broker":"782e6297.9953bc","x":910,"y":800,"wires":[]},{"id":"f2f0170e.7c5f88","type":"debug","z":"7dce9842.4d7258","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":620,"wires":[]},{"id":"3a55d3bf.ad4a7c","type":"ui_numeric","z":"7dce9842.4d7258","name":"","label":"numeric","tooltip":"","group":"d63fe5da.74adc8","order":18,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":"1","max":"16","step":1,"x":1140,"y":560,"wires":[["f2f0170e.7c5f88"]]},{"id":"d63fe5da.74adc8","type":"ui_group","z":"","name":"Presets","tab":"c3b6f97f.d95ac8","order":2,"disp":true,"width":"6","collapse":true},{"id":"1a677cba.86f933","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"782e6297.9953bc","type":"mqtt-broker","z":"","name":"MQTT","broker":"192.168.110.10 ","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"122c9bcd.823a34","type":"ui_group","z":"","name":"Settings","tab":"c3b6f97f.d95ac8","order":3,"disp":true,"width":"6","collapse":true},{"id":"5e15b946.0311d8","type":"ui_group","z":"","name":"Colors","tab":"c3b6f97f.d95ac8","order":4,"disp":true,"width":"6","collapse":false},{"id":"922f7754.6c0848","type":"ui_group","z":"","name":"Power","tab":"c3b6f97f.d95ac8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d756c609.ffea68","type":"ui_group","z":"","name":"Info","tab":"c3b6f97f.d95ac8","order":5,"disp":true,"width":"6","collapse":true},{"id":"c3b6f97f.d95ac8","type":"ui_tab","z":"","name":"Deck Lights RGB WLED","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
